.delete-confirm-box,
.update-voucher-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
}

.delete-confirm-box {
    p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .delete-box-row {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.update-voucher-box {
    width: 500px;

    .update-voucher-title {
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.update-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.update-input-row {
    width: 100%;
    height: 42px;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    gap: 12px;

    p {
        font-size: 1.2rem;
    }

    input {
        height: 100%;
        border: 1px solid #ccc;
        padding: 0 8px;
        font-size: 1.2rem;
    }
}

.update-voucher-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}