.admin-wrapper {
    height: 100vh;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-height: calc(100vh - var(--admin-top-bar-height));
    display: flex;
    align-items: flex-start;
}

.main {
    background-color: #dcdcdc;
    width: 100%;
}
